# ===============================
# Backend Environment Variables
# ===============================

# Database
MONGODB_URI=mongodb+srv://linksvardha_db_user:<db_password>@cluster0.fxmpwkr.mongodb.net/?appName=Cluster0

# Auth
JWT_SECRET=my_super_secret_123

# Razorpay
RAZORPAY_KEY_ID=rzp_live_S0VkMnqosqCS2C
RAZORPAY_KEY_SECRET=Caq1BBUizEdjGrpS9vo3LpM4

# Cloudinary
CLOUDINARY_CLOUD_NAME=dlepfaqwe
CLOUDINARY_API_KEY=i8VDYEccSbxlVyGW2TYGJRs96hs
CLOUDINARY_API_SECRET=677245938257784

# Redirect after session / payment
SESSION_REDIRECT=https://calendly.com/linksvardha/60min

# ===============================
# NOTES
# - Do NOT add PORT (Workers ignore it)
# - Do NOT put real secrets here
# - For Cloudflare Workers, set values in Dashboard
# ===============================
